<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="title">{{ 'main-page.title' | translate }}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="data">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <app-character *ngFor="let character of characters" [character]="character"></app-character>
  </ion-list>
</ion-content>